body {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

div#header {
    background-color: #000000;
    color: #FFFFFF;
    position: relative;
}

div#header h1 {
  margin: 0;
  padding: 10px;
}

h3,
h2.header {
  margin: 5px;
}

div#maincontent {
  margin: 10px 125px 10px 10px;
}

div#workdetails,
div#taskdetails {
  border: 1px solid #cccccc;
  padding: 5px;
}

div#workdetails p,
div#taskdetails p {
  margin: 5px;
}

div#user_tools {
  border: 1px solid #000000;
  float: right;
  margin: 10px;
  position: relative;
}

div#user_tools a {
  font-weight: bold;
  text-decoration: none;
}

div#user_tools a:hover {
  text-decoration: underline;
}

div#user_tools ul {
  margin:  0;
  padding: 0;
}

div#user_tools li {
  border-bottom: 1px solid #000000;
  list-style: none;
  margin: 0;
  padding: 5px;
}

div#user_tools li.last {
  border-bottom: none;
}

table.taskstable {
  margin: 0 auto 0 auto;
  padding: 10px;
  width: 50%;
}

table.taskstable a {
  color: #000000;
  text-decoration: underline;
}

table.taskstable a:hover {
  text-decoration: none;
}

table.worktable tr.even,
table.taskstable tr.even {
  background-color: #dddddd;
}

table.worktable tr.odd,
table.taskstable tr.odd {
  background-color: #eeeeee;
}

table.worktable tr.workrow td,
table.taskstable tr.taskrow td {
  padding: 5px;
}

table.taskstable tr.taskrow td.time {
  text-align: right;
  width: 150px;
}

table.taskstable tr.taskrow td.remove,
table.taskstable tr.taskrow td.duedate,
table.taskstable tr.taskrow td.edit {
  text-align: center;
}

table.worktable tr.workrow td.duration {
  text-align: right;
}

div#addtaskform {
  margin: 0px auto 0px auto;
  width: 50%;
}

div.shortcutfield {
  /*float: left;*/
  margin: 0px 2px 0px 2px;
}
