{% extends "timetracker/base.html" %}

{% block nav %}
  <li class="last"><a id="addlink" href="{% url add_task %}">add task</a></li>
{% endblock %}

{% block content %}
  <div id="addtaskform" class="hide">
    <form action="{% url dashboard %}" method="POST">{% csrf_token %}
      <fieldset>
        <legend>Add Task</legend>
        <div class="shortcutfield">
          <label for="id_title">Title</label><br />
          {{ form.title}} 
        </div>
        <div class="shortcutfield">
          <label for="id_description">Description</label><br />
          {{ form.description }} 
        </div>
        <div class="shortcutfield">
          <label for="id_due_date">Due Date</label><br />
          {{ form.due_date }} 
        </div>
        <div class="shortcutfield">
          <br />
          <input type="submit" value="Add Task" />
        </div>
      </fieldset>
    </form>
  </div>
  <div id="filter">
    <p>Filter: <a href="{% url dashboard %}">Open</a> <span>|</span> <a href="{% url dashboard_filter "all"%}">All</a> <span>|</span> <a href="{% url dashboard_filter "finished" %}">Finished</a></p>
  </div>
  <table id="tasktable" class="taskstable tablesorter">
    <thead>
      <tr>
        <th>Task</th>
        <th>Time spent</th>
        <th>Due date</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr class="taskrow {% cycle 'even' 'odd' %}">
          <td class="task">{{ task.title }}</td> 
          <td class="time">{{ task.total_time_worked }}</td>
          <td class="duedate">{{ task.due_date|date:"d/m/Y" }}</td>
          <td class="edit"><a href="{{ task.get_absolute_url }}"><img src="/static/images/table.png" alt="view detail" title="view detail" /></a></td>
          <td class="remove"><a href="{% url remove_task task.id %}"><img src="/static/images/bin.png" alt="delete task" title="delete task" /></a></td>
          <td class="complete"><a href="{% url complete_task task.id %}"><img src="/static/images/tick.png" alt="finish task" title="finish task" /></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
