{% extends "timetracker/base.html" %}
{% block content %}
<h2 class="header">{{ task.title }}</h2>
<div id="taskdetails">
  <p>{{ task.description }}</p>
  <p>Total time spent: {{ task.total_time_worked }}</p>
</div>
<h3>Work</h3>
<div id="workdetails">
  <p><a href="{% url add_work task.id %}">Add Work</a></p>
  <table class="worktable">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Duration</th>
    </tr>
    {% for work in task.work %}
      <tr class="workrow {% cycle 'even' 'odd' %}">
        <td class="date">{{ work.date|date:"d/m/Y" }}</td>
        <td class="description">{{ work.description }}</td> 
        <td class="duration">{{ work.length }}</td>
        <td class="edit"><a href="{% url edit_work task.id work.id %}">edit</a></td>
        <td class="remove"><a href="#">remove</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
