{% extends "timetracker/base.html" %}
{% block content %}
<h2 class="header">{{ task.title }}</h2>
<div id="taskdetails">
  <p>{{ task.description }}</p>
  <p>Total time spent: {{ task.total_time_worked }}</p>
</div>
<h3>Work</h3>
<div id="workdetails">
  <div class="addworkform">
    <form method="POST">{% csrf_token %}
      <fieldset>
        <legend>Add Work</legend>
        <div class="shortcutfield">
          <label for="id_description">Description</label><br />
          {{ form.description }} 
        </div>
        <div class="shortcutfield">
          <label for="id_date">Date</label><br />
          {{ form.date }} 
        </div>
        <div class="shortcutfield">
          <label for="id_duration">Duration</label><br />
          {{ form.duration }} 
        </div>
        <div class="shortcutfield">
          <br />
          <input type="submit" value="Add" />
        </div>
      </fieldset>
    </form>
  </div>
  <table class="worktable">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Duration</th>
    </tr>
    {% for work in task.work %}
      <tr class="workrow {% cycle 'even' 'odd' %}">
        <td class="date">{{ work.date|date:"d/m/Y" }}</td>
        <td class="description">{{ work.description }}</td> 
        <td class="duration">{{ work.length }}</td>
        <td class="edit"><a href="{% url edit_work task.id work.id %}">edit</a></td>
        <td class="remove"><a href="#">remove</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
